body {
    max-width: 2400px;
    margin: auto;
}

.card-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.card-container img {
    width: 100%;
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.card-container img.front:hover {
    opacity: 0;
}

.button {
    margin-top: 25px;
    text-align: center;

}