body {
    max-width: 2400px;
    margin: auto;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article {
    width: 80%;
    margin: 0 auto;
}

/* Index page */
.card-container {
    position: relative;
    height: 100%;
}

.card-container img {
    width: 100%;
    position: absolute;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.card-container img.front:hover {
    opacity: 0;
}

.button {
    margin-top: 25px;
    text-align: center;
}

/* Gallery */
h1 {
    font-size: 3rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery a {
    overflow: hidden;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

.gallery img {
    display: flex;
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: 0.3s;
    box-sizing: border-box;
    overflow: hidden;
}
.gallery img:hover {
    transform: scale(1.1);
}